*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --purple-background: #81689f;
}
body{
    font-family: 'Dosis', sans-serif;
    color:white;
}
nav{
    display:flex;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--purple-background);
}
.mySlides{
    width: 100%;
    height: 100%;
}
#headerContainer{
    width: 100%;

}
#slideshow{
    position: relative;
}
#slideshowContainer-img{
    display: flex;
    align-items: center;
    width: 100%;
}
#slideshow-btn{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;

}
#slideshow-btn a{
    position:absolute;
    color: white;
    mix-blend-mode: difference;
}
.next{
    right: 7%;
    top:40%;
}
.prev{
    left: 7%;
    top: 40%;
}
.slideshow-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main{
    width: 100%;
    height: 100%;
}
#trendingPreview-header{
    position:relative;
    top:-4px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--purple-background);
    height: 100%;
    width: 100%;
}
#trendinPreview-header--btn{
    background-color: transparent;
    border: none;
}
.trendingPreview-movieList{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
}
.movie-img{
    width: 200px;
    height: 320px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
}
.categoriesPreview-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

#categoriesPreview{
    background-color: var(--purple-background);
}
.category-container{
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    text-align: center;
}
.categoriesPreview-title{
    margin-left: 15px;
}
.genericList-container{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.inactive{
    display: none;
}
