*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --purple-background: #81689f;
}
body{
    font-family: 'Dosis', sans-serif;
    color:white;
}
nav{
    display:flex;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--purple-background);
}
#nav-searchbar--input{
    width: 80%;
    margin: 20px 0 10px 20px;
    height: 30px;
    color: white;
    border-radius: 10px;
    background-color: #81689f;
}
#nav-searchbar--input::placeholder{
    color: white;
}
.mySlides{
    width: 100%;
    height: 100%;
}
#headerContainer{
    width: 100%;

}
.header-title--categoryView{
    color: black;
    margin: 20px 0 10px 20px;
}
#slideshow{
    position: relative;
}
#slideshowContainer-img{
    display: flex;
    align-items: center;
    width: 100%;
}
#slideshow-btn{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;

}
#slideshow-btn a{
    position:absolute;
    color: white;
    mix-blend-mode: difference;
}
.next{
    right: 7%;
    top:40%;
}
.prev{
    left: 7%;
    top: 40%;
}
.slideshow-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main{
    width: 100%;
    height: 100%;
    position: relative;
}
#trendingPreview-header, .liked-header{
    position:relative;
    top:-4px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--purple-background);
    height: 100%;
    width: 100%;
}
.movie-container{
    position: relative;
}
#trendinPreview-header--btn{
    background-color: transparent;
    border: none;
}
.trendingPreview-movieList, .liked-movieList{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
}
.movie-img{
    width: 200px;
    height: 320px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    min-height: 175px;
}

.movie-btn{
    position: absolute;
    top: 16px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 0;
    margin: 0;
    background-color: black;
    border: none;
}
.movie-btn::before{
    content: '🤍';
}

.movie-btn--liked::before {
    content: '❤️';
}
.categoriesPreview-list{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    gap: 2px;
}

#categoriesPreview{
    background-color: var(--purple-background);
}
.category-container{
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(155, 100, 161);
    cursor: pointer;
    width: 80%;
    max-width: 350px;
    text-align: center;
    box-shadow: 5px 5px 15px -9px #000000;
}
#arrowbtn{
    background-color: inherit;
    color: white;
    border: none;
    font-size: 1.5rem;
}
.categoriesPreview-title{
    margin-left: 15px;
    padding-top: 10px;
}
#long-img{
    width: 100%;
}
.title-movie{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#movieDetail{
    position: absolute;
    top: -20px;
    color: white;
    background-color: var(--purple-background);
    border-radius: 20px;
    width: 100vw;
}
.relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    padding-bottom: 16px;
    max-height: 210px;
  }
  .relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
  }
  
  .relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
  }
.title-movie span{
    margin-right: 10px;
}
.movieDetail-description{
    padding: 15px 10px;
}
.genericList-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    margin-top: 15px;
}
#genericList .movie-container .movie-img{
    margin: 0 auto;
    height: 200px;
    width: 130px;
}
.movie-container{
    margin: 0 auto;
}
#movieDetail .categories-list{
    display: flex;
    overflow-x: scroll;
}
.relatedMovies-title{
    text-align: start;
    margin: 10px 0 10px 10px;
}
footer{
    color: var(--purple-background);
    font-weight: bolder;
    text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.inactive{
    display: none;
}
